
<h3>CRUD Operations on  Server Data (json-server as backend)</h3>
<hr/>

<input type="text" [disabled]="isDisabled"  [(ngModel)]="empno"  placeholder="Empno"  />
<input type="text"  [(ngModel)]="ename"  placeholder="Ename"  />
<input type="text"  [(ngModel)]="job"  placeholder="Job"  />
<input type="text"  [(ngModel)]="sal"  placeholder="Salary"  />
<input type="text"  [(ngModel)]="deptno"  placeholder="Deptno"  />
<hr/>

<input type="button"  value="Get Emps" (click)="getEmps_click()"  />
<input type="button"  value="Add Emps" (click)="addEmps_click()"  />
<input type="button"  value="Update Emps" (click)="updateEmps_click()"  />
<br/><br/>

<table border="2" cellspacing="0"  cellpadding="5" width="600">
<tr>
      <th>Employee Number</th>
      <th>Employee Name</th>
      <th>Job</th>
      <th>Salary</th>
      <th>Dept No</th>
      <th>Action</th>
</tr>

<tr *ngFor="let emp of empsArray">
    <td> {{emp.empno}} </td>
    <td> {{emp.ename}} </td>
    <td> {{emp.job}} </td>
    <td> {{emp.sal}} </td>
    <td> {{emp.deptno}} </td>
    <td>
        <a  href="javascript:void(0);"  (click)="selectEmps_click( emp.empno  )">Select</a> |
        <a  href="javascript:void(0);"  (click)="removeEmps_click( emp.empno  )">Remove</a>
    </td>
</tr>

</table>